
// DNA Modal
.modal.dna.fade(id=id tabindex='-1', role='dialog', aria-labelledby='#{id}Label', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header.text-center
        h2
          span.pre!= headline
          span.correct.hidden!= correct.headline
          span.wrong.hidden!= wrong.headline
        p
          span.pre= subhead
          span.wrong.hidden!= wrong.subhead
          span.correct.hidden!= copy


        hr.dashed.no-margin-bottom
      .modal-body.text-center
        .row.pre
          .col-xs-1.col-xs-offset-11.select select

        each answer in answers
          .row.answers.pre
            .col-xs-1
              h2 #{answer.answer}.
            .col-xs-10.text-left
              h3.sequence= answer.sequence

            .col-xs-1
              if answer.isCorrect
                isCorrect = "correct"
              else
                isCorrect = "wrong"

              a.icon.radio(class=isCorrect href="#")



        .next.post.hidden
          if next.copy
            p= next.copy

          if id == 'listen_quiz'
            a.btn.open-modal(data-dismiss="modal" aria-hidden="true" href=next.link.href)= next.link.copy
          else
            a.btn.router(data-dismiss="modal" aria-hidden="true" href=next.link.href)= next.link.copy

      .viewport.pre
        .bg-slider
        img.slider(src="images/slider.png")








