
// Quiz Modal
.modal.quiz.fade(id=id tabindex='-1', role='dialog', aria-labelledby='#{id}Label', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header.text-center
        h2.pre!= headline

        .answers.post
          each answer in answers
            if answer.isCorrect == true
              isCorrect = "correct"
            else
              isCorrect = "wrong"

            a.btn.pre(class=isCorrect href="#")= answer.answer

            if answer.isCorrect
              .correct.hidden
                h2= answer.headline
                if answer.subhead
                  p!= answer.subhead

            else
              .wrong.hidden
                h2!= answer.headline
                if answer.subhead
                  p!= answer.subhead

        .copy.post.hidden
          p!= copy

      .modal-body.text-center
        if id != 'magnify_quiz'
          hr.dashed
        else
          hr.dashed
          img.pre(src="images/magnify-quiz.jpg" alt="magnify quiz")

        if id == 'measurements_quiz'
          .row.pre
            each size in sizes
              .col-xs-4.size.text-center
                h2(class="#{size.id}") #{size.id}.
                ul
                  li.text-right beak:
                    strong #{size.beak}
                  li.text-right wing:
                    strong #{size.wing}
                  li.text-right tail:
                    strong #{size.tail}

        if id == 'listen_quiz'
          .row.pre
            each sonogram in audio
              .col-xs-4
                .sonogram-holder
                  img(src=sonogram.sonogram)
                  .ui360
                    a(href=sonogram.href)

                h2(class="#{sonogram.id}") #{sonogram.id}.


        .next.post.hidden
          p!= next.copy
          if id == 'magnify_quiz'
            a.btn.open-modal(data-dismiss="modal" aria-hidden="true" href=next.link.href)= next.link.copy
          else
            a.btn.router(data-dismiss="modal" aria-hidden="true" href=next.link.href)= next.link.copy

