
// Text Modal
.modal.text.fade(id=id tabindex='-1', role='dialog', aria-labelledby='#{id}Label', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header.text-center
        h2= headline
      .modal-body.text-center
        each paragraph in copy
          p= paragraph

        if list
          ul
            each item in list
             li.text-left: em!= item

        hr.dashed
        p= next.copy

        if id == 'step_1_conclusion'
          a.btn.open-modal(href=next.link.href data-dismiss="modal" aria-hidden="true")= next.link.copy

        else
          a.btn.router(href=next.link.href data-dismiss="modal" aria-hidden="true")= next.link.copy
