
// Text-Image Modal
.modal.text-image.fade(id=id tabindex='-1', role='dialog', aria-labelledby='#{id}Label', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header.text-center
        if headline == 'Reclassifying Relationships'
          h2.blue!= headline
        else
          h2!= headline


      .modal-body.text-center

        each paragraph in copy
          .row
            .col-xs-10.col-xs-offset-1.text-center
              p!= paragraph

        if id != 'step_1_conclusion'
          .row
            .col-xs-12
              img(src=image.src alt=image.alt)
        else
          .row
            .col-xs-12.text-center
              .row
                each bird in list
                  .col-xs-4(class=bird.name)
                    img(src=bird.image.src alt=bird.image.alt)
                    p.scientific Pteroglossus azara <strong>#{bird.name}</strong>

        hr.dashed

        .row
          .col-xs-10.col-xs-offset-1
            p!= next.copy

        .row
          .col-xs-12
            a.btn.router(href=next.link.href data-dismiss="modal" aria-hidden="true")= next.link.copy
