mixin eachBird(obj)
  .col-xs-4(class="bird #{obj.bird}")

    a.icon.helix
    .genetic-sequence.hidden #{obj.sequence}
    .genetic-analysis

    .footer.text-center
      h3.common= obj.common
      p.scientific= obj.scientific

#genetic.section.content(data-section="#genetic")
  .row
    each entry in physical.genetic.info
      +eachBird(entry)

  .instructions.text-center
    h3= physical.genetic.instructions
