mixin eachBird(obj)
  .col-xs-4(class="bird #{obj.bird}")

    a.icon.microphone(href=obj.sonogram, data-toggle='modal', data-target=obj.modal, href=obj.modal)

    .footer.text-center
      h3.common= obj.common
      p.scientific= obj.scientific

#listen.content.section.hidden(data-section="#listen")
  .row
    each entry in physical.listen.info
      +eachBird(entry)

  .instructions.text-center
    h3= physical.listen.instructions

