mixin eachBird(obj)
  .col-xs-4(class="bird #{obj.bird}")

    .dropzone
      .ui360.hidden
        a(href=obj.sonogram)

    img(src="images/sonogram-" + obj.bird + ".png", alt="").sonogram.hidden

#listen.content.section.hidden(data-section="#listen")
  .row
    each entry in physical.listen.info
      +eachBird(entry)

  .footer.instructions.text-center
    h3 #{physical.listen.instructions}
      .icon.microphone.draggable

    a(href=physical.listen.link.href, data-dismiss="modal", aria-hidden="true", class="btn").hidden #{physical.listen.link.copy}

