mixin eachBird(obj)
  .col-md-4(class="bird #{obj.bird}")

    a.icon(class="#{obj.position}", data-toggle='modal', data-target=obj.modal, href=obj.modal)

    .footer.text-center
      h3.common= obj.common
      p.scientific= obj.scientific

#magnify.content
  .row
    each entry in physical.magnify.info
      +eachBird(entry)

  .instructions.text-center
    h3= physical.magnify.instructions

  //- TODO:
  //-
  //-   Parts comparasion lightbox
  //-     feathers
  //-     tails
  //-     bills
  //-
  //-   Conclusion Light box
  //-     Question
  //-     Correct
  //-     Wrong