mixin eachBird(obj)
  .col-xs-4.magnify.nogutter(class="bird #{obj.bird}" data-bird=obj.bird)
    .small
      img.source(src=obj.images.small data-bird=obj.bird)

#magnify.content.hidden.section(data-section="#magnify")
  .row-fluid
    each entry in physical.magnify.info
      +eachBird(entry)

  .footer.instructions.text-center
    h3!= physical.magnify.instructions

    a.btn.hidden(href=physical.magnify.link.href, data-dismiss="modal" aria-hidden="true")= physical.magnify.link.copy
