mixin eachBird(obj)
  .col-md-4(class="bird #{obj.bird}")
    ul.text-right
      li Beak:
        strong &nbsp;#{obj.beak}
      li Wing:
        strong &nbsp;#{obj.wing}
      li Tail:
        strong &nbsp;&nbsp;&nbsp;#{obj.tail}

    a.icon.beak
    a.icon.wing
    a.icon.tail

    .footer.text-center
      h3.common= obj.common
      p.scientific= obj.scientific

#measurements.content
  .row
    each entry in physical.measurements.info
      +eachBird(entry)

  .instructions.text-center
    h3= physical.measurements.instructions

  //- TODO:
  //-   Conclusion Light box
  //-     Question
  //-     Correct
  //-     Wrong




