mixin eachBird(obj)
  .col-xs-4(class="bird #{obj.bird}")
    ul.text-right
      li.info-beak Beak:
        strong.hidden &nbsp;#{obj.beak}
      li.info-wing Wing:
        strong.hidden &nbsp;#{obj.wing}
      li.info-tail Tail:
        strong.hidden &nbsp;&nbsp;&nbsp;#{obj.tail}

    a.icon.beak
    a.icon.wing
    a.icon.tail


#measurements.content.section.hidden(data-section="#measurements")
  .row
    each entry in physical.measurements.info
      +eachBird(entry)

  .footer.instructions.text-center
    h3= physical.measurements.instructions

    a(href=physical.measurements.link.href, data-dismiss="modal", aria-hidden="true", class="btn").hidden #{physical.measurements.link.copy}




