mixin eachBird(obj)
  .col-xs-4(class="bird #{obj.bird}")
    ul.text-right
      li.info-beak Beak:
        strong.hidden &nbsp;#{obj.beak}
      li.info-wing Wing:
        strong.hidden &nbsp;#{obj.wing}
      li.info-tail Tail:
        strong.hidden &nbsp;&nbsp;&nbsp;#{obj.tail}

    a.icon.beak
    a.icon.wing
    a.icon.tail

    .footer.text-center
      h3.common= obj.common
      p.scientific= obj.scientific

#measurements.content.section.hidden(data-section="#measurements")
  .row
    each entry in physical.measurements.info
      +eachBird(entry)

  .instructions.text-center
    h3= physical.measurements.instructions

  //- TODO:
  //-   Conclusion Light box
  //-     Question
  //-     Correct
  //-     Wrong




